<input id="id" name="id" type="text" hidden="hidden" value="{{data.id}}">
<input id="isadmin" name="isadmin" type="text" hidden="hidden" value="{{data.admin}}">
<input id="address_id" name="address_id" type="text" hidden="hidden" value="{{data.address.id}}">

<div class="row pd-btm-10">
    <div class="col-xs-5 flt-lft">
        <label for="lastname" class="dsp-blck d-gray-fnt fnt-wght-reg">Last name</label>
        <input id="lastname" class="wdth-hun pd-txt-bx" name="lastname" type="text" required value="{{data.lastname}}">
    </div>
    <div class="col-xs-5">
        <label for="firstname" class="dsp-blck d-gray-fnt fnt-wght-reg">First name</label>
        <input id="firstname" class="wdth-hun pd-txt-bx" name="firstname" type="text" required value="{{data.firstname}}">
    </div>
</div>

<div class="row pd-btm-10">
    <div class="col-xs-8">
        <label for="street" class="dsp-blck d-gray-fnt fnt-wght-reg">Street</label>
        <input id="street" class="wdth-hun pd-txt-bx" name="street" type="text" required value="{{data.address.street}}">
    </div>
    <div class="col-xs-2">
        <label for="nr" class="dsp-blck d-gray-fnt fnt-wght-reg">Nr.</label>
        <input id="nr" class="wdth-hun pd-txt-bx" name="streetNr" type="text" required value="{{data.address.streetNr}}">
    </div>
</div>
<div class="row pd-btm-30">
    <div class="col-xs-5">
        <label for="zip" class="dsp-blck d-gray-fnt fnt-wght-reg">ZIP</label>
        <input id="zip" class="wdth-hun pd-txt-bx" name="zip" type="text" required value="{{data.address.zip}}">
    </div>
    <div class="col-xs-5">
        <label for="city" class="dsp-blck d-gray-fnt fnt-wght-reg">City</label>
        <input id="city" class="wdth-hun pd-txt-bx" name="city" type="text" required value="{{data.address.city}}">
    </div>
</div>

<div class="row pd-btm-10">
    <div class="col-xs-5">
        <label for="studentID" class="prefix dsp-blck d-gray-fnt fnt-wght-reg">StudentId</label>
        <input id="username" class="wdth-hun pd-txt-bx" name="studentId" type="text" required value="{{data.studentId}}">
    </div>

    <div class="col-xs-5">
        <label for="telephone" class="prefix dsp-blck d-gray-fnt fnt-wght-reg">telephone</label>
        <input id="telephone" class="wdth-hun pd-txt-bx" name="telephone" type="text" required value="{{data.telephone}}">
    </div>
</div>
<div class="row pd-btm-30">
    <div class="col-xs-5">
        <label for="email" class="prefix dsp-blck d-gray-fnt fnt-wght-reg">E-Mail</label>
        <input id="email" class="wdth-hun pd-txt-bx" name="email" readonly=readonly type="text" required value="{{data.email}}">
    </div>
    <div class="col-xs-5">
        <label for="password" class="prefix dsp-blck d-gray-fnt fnt-wght-reg">Password</label>
        <input id="password" class="wdth-hun pd-txt-bx" name="password" type="text" required value="{{data.password}}">
    </div>
</div>