<div class="col-lg-11 row-l pd-left-100">
    <section class="row">
        <div class="column">
            <h1 class="tbl-header">{{pageTitle}} - {{data.firstname}} {{data.lastname}}</h1>
        </div>
            <form>
                <div class="row">
                    <div class="col-lg-4">
                        <label for="lastname">lastname</label>
                        <input id="lastname" name="lastname" type="text" required value="{{data.lastname}}">
                    </div>
                    <div class="col-lg-4">
                        <label for="firstname">firstname</label>
                        <input id="firstname" name="firstname" type="text" required value="{{data.firstname}}">
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <label for="street">street</label>
                        <input id="street" name="street" type="text" required value="{{data.address.street}}">
                    </div>
                    <div class="col-lg-4">
                        <label for="nr">nr</label>
                        <input id="nr" name="nr" type="text" required value="{{data.address.streetNr}}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <label for="zip">zip</label>
                        <input id="zip" name="zip" type="text" required value="{{data.address.zip}}">
                    </div>
                    <div class="col-lg-4">
                        <label for="city">city</label>
                        <input id="city" name="city" type="text" required value="{{data.address.city}}">
                    </div>
                </div>

                <div class="row">
                    <div class="small-9 columns">
                        <label for="studentID" class="prefix">studentId</label>
                        <input id="username" name="username" type="text" required value="{{data.studentId}}">
                    </div>
                    <div class="large-6 columns">
                        <label for="email" class="prefix">email</label>
                        <input id="email" name="email" type="text" required value="{{data.email}}">
                    </div>
                </div>
                <div class="row">
                    <div class="small-3 columns">
                        <label for="password" class="prefix">password</label>
                        <input id="password" name="password" type="text" required value="{{data.password}}">
                    </div>
                </div>
                <a class="btn tbl-btn" href="/user/{{userid}}">Save</a>
                <a class="btn tbl-btn" href="/home">Cancel</a>
            </form>
    </section>
</div>
<footer class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid navbar-left">
        <figure>
            <img src="/images/icon_q_dooted.png" alt="HSRmarket" width="60rem" height="60rem">
        </figure>
    </div>
    <div class="container-fluid navbar-right navbar-text pull-right">
        <p>(c) 2017 by HSRmarket. All rights reserved</p>
    </div>
</footer>