<nav class="top-bar" >
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">HSRmarket</li>
            <li class="nav-link">
                <a href="/">Start</a>
            </li>
            <li class="nav-link">
                <a href="/api/articles/books">Books</a>
            </li>
            <li class="nav-link">
                <a href="/api/articles/electronics">Electronics</a>
            </li>
            <li class="nav-link">
                <a href="/api/articles/officesupplies">Office supplies</a>
            </li>
            <li class="nav-link">
                <a href="/api/articles/other">Other</a>
            </li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
            <li>
                <a href="#">"USER NAME"</a>
                <ul class="menu vertical">
                    <li><a href="#">My Articles</a></li>
                    <li><a href="#">My Sales</a></li>
                    <li><a href="#">My Account</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<section class="row">
    <div class="column">
        <h1>all {{title}}</h1>
    </div>
    {{#if articles.length}}
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Discription</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each articles}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{description}}</td>
                    <td><a class="hollow button" href="/api/articles/{{id}}">Show</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    {{else}}
        <div> Currently the list is empty. </div>
    {{/if}}
</section>

<footer class="align-bottom ">
    <div class="wrap row small-up-1 medium-up-3">
        <figure>
            <img src="/images/ICON_HSRMARKET_OHNE_TEXT_TRANSPARENT.png" alt="HSRmarket" width="60rem" height="60rem">
        </figure>
        <div class="column"></div>
    </div>
</footer>