<div class="col-lg-11 row-l fixed-header fixed-footer">
    <div class="container-fluid">
        <h1 class="tbl-header">Article #{{articles.id}}</h1>
        <div class="row pad-lft-15">
           <div class="row width-eighty">
                <div class="col-xs-3">
                    <figure>
                        <img src="{{articleImage}}" alt="HSRmarket" width="60rem" height="60rem" class="img-art-det">
                    </figure>
                </div>
               <div class="col-xs-4 hgt-hunp">
                    <p><h4 class="d-gray-fnt">Category</h4></p>
                    <div class="pd-left-10 fnt-sz-18">{{articles.type}}</div>
               </div>
               <div class="col-xs-4 hgt-hunp">
                    <p><h4 class="d-gray-fnt">Final price</h4></p>
                    <div class="pd-left-10">{{articles.price}} Fr.</div>
               </div>
               <div class="col-xs-4 hgt-hunp">
                   <p><h4 class="d-gray-fnt">Name</h4></p>
                   <div class="pd-left-10">{{articles.name}}</div>
               </div>
               <div class="col-xs-4 hgt-hunp">
                   <p><h4 class="d-gray-fnt">Condition</h4></p>
                   {{{conditionMaker articles.condition}}}
               </div>
           </div>
            <div class="width-eighty art-desc">
                <h4 class="d-gray-fnt">Description</h4>
                <div>
                    <div class="pd-left-10"><p>{{articles.description}}</p></div>
                </div>

            </div>
        </div>
    </div>

    <section class="row spec-rw width-eighty">
        <div>
            {{#equal articles.type "book"}}
                <h2 class="tbl-header">Book Specifications</h2>
            <div class="col-xs-4">
                <h4 class="d-gray-fnt">ISBN</h4>
                <div class="pd-left-10"><p>{{articles.isbn}}</p></div>
            </div>
            <div class="col-xs-4">
                <h4 class="d-gray-fnt">publisher</h4>
                <div class="pd-left-10"><p>{{articles.plus}}</p></div>
            </div>
            <div class="col-xs-4">
                <h4 class="d-gray-fnt">Author</h4>
                <div class="pd-left-10"><p>{{articles.author}}</p></div>
            </div>
            {{/equal}}
            {{#equal articles.type "electronic"}}
                <h2 class="tbl-header">Electronic Specifications</h2>
            <div class="col-xs-4">
                <h4 class="d-gray-fnt">Producer</h4>
                <div class="pd-left-10"><p>{{articles.producer}}</p></div>
            </div>
            <div class="col-xs-4">
                <h4 class="d-gray-fnt">Model</h4>
                <div class="pd-left-10"><p>{{articles.model}}</p></div>
            </div>
            {{/equal}}
            {{#if username}}
            <div class="col-xs-12 mrg-btm">
                <form method="post" action="/purchases">
                    <input type="text" value="{{articles.id}}" name="articleid" hidden="hidden" />
                    <button type="submit" class="btn tbl-btn">Buy</button>
                </form>
            </div>
            {{/if}}
        </div>

    </section>
</div>