<div class="col-lg-11 row-l fixed-header fixed-footer">
    <section class="container-fluid">
        <h1 class="tbl-header">Manage articles</h1>
        <p>Please be aware if you delete an article. An article should only be deleted if there are no references to him.</p>
        <div class="row marg-left-0">
            <div>
                <table class="table width-eighty">
                    <thead>
                    <tr>
                        <th class="art-tbl-left">ID</th>
                        <th class="art-tbl-left">Name</th>
                        <th class="art-tbl-left">Type</th>
                        <th class="art-tbl-right">Price</th>
                        <th class="art-tbl-right"></th>
                        <th class="art-tbl-right"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each articles}}
                        <tr>
                            <td class="art-tbl-left">{{id}}</td>
                            <td class="art-tbl-left">{{name}}</td>
                            <td class="art-tbl-left">{{type}}</td>
                            <td class="art-tbl-right">{{price}}</td>
                            <td class="art-tbl-right">
                                <a type="button" class="btn tbl-btn" href="/articles/{{id}}/edit">Edit</a>
                            </td>
                            <td class="art-tbl-right">
                                <a type="button" class="btn tbl-btn btn-cncl" href="/articles/{{id}}/delete">Delete</a>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>