
<section class="row">
    {{#if article.length}}
        <div class="column">
            <h1>Article #{{id}}</h1>
        </div>
        <figure>
            <img src="{{image}}" alt="{{title}}">
        </figure>
        <table>
            <tbody>
                <tr>
                    <th>Category</th>
                        <td>{{type}}</td>
                    <th>Final price</th>
                        <td>{{price}}</td>
                    <th>Module</th>
                        <td>{{name}}</td>
                    <th>Condition</th>
                        <td>{{conditionMaker condition}}</td>
            </tbody>
        </table>
        <h5>Description</h5>
        <p>{{description}}</p>
        {{#if typeChecker type "book"}}
            <h2>Book Specifications</h2>
            <table>
                <tbody>
                <tr>
                    <th>ISBN</th>
                        <td>{{isbn}}</td>
                    <th>publisher</th>
                        <td>{{plus}}</td>
                    <th>Author</th>
                        <td>{{author}}</td>
                </tbody>
            </table>
            <a  class="button large success" href="<!-- TODO -->">Buy</a>
        {{/if}}
        {{#if typeChecker type "electronic"}}
            <h2>Electronic Specifications</h2>
            <table>
                <tbody>
                <tr>
                    <!-- TODO -->
                </tbody>
            </table>
            <a  class="button large success" href="<!-- TODO -->">Buy</a>
        {{/if}}
        {{#if typeChecker type "office supply"}}
            <h2>Office supply Specifications</h2>
            <table>
                <tbody>
                <tr>
                    <!-- TODO -->
                </tbody>
            </table>
            <a class="button large success" href="<!-- TODO -->">Buy</a>
        {{/if}}
    {{else}}
        <div> Error occurred while loading the file.</div>
    {{/if}}
</section>
