
<section class="row">
    <div class="column">
        <h1>Article {{articles.id}}</h1>
    </div>
    <figure>
        <img src="{{articles.image}}" alt="{{title}}">
    </figure>
    <table>
        <tbody>
            <tr>
                <th>Category</th>
                    <td>{{articles.type}}</td>
                <th>Final price</th>
                    <td>{{articles.price}}</td>
                <th>Module</th>
                    <td>{{articles.name}}</td>
                <th>Condition</th>
                    <td>{{conditionMaker articles.condition}}</td>
        </tbody>
    </table>
    <h5>Description</h5>
    <p>{{articles.description}}</p>
    <div>
        {{#equal articles.type "book"}}
            <h2>Book Specifications</h2>
            <table>
                <tbody>
                <tr>
                    <th>ISBN</th>
                    <td>{{articles.isbn}}</td>
                    <th>publisher</th>
                    <td>{{articles.plus}}</td>
                    <th>Author</th>
                    <td>{{articles.author}}</td>
                </tbody>
            </table>
            <a  class="button large success" href="/api/purchase/{{articles.id}}">Buy</a>
        {{/equal}}
        {{#equal articles.type "electronic"}}
            <h2>Electronic Specifications</h2>
            <table>
                <tbody>
                <tr>
                    <th>Producer</th>
                    <td>{{articles.producer}}</td>
                    <th>Model</th>
                    <td>{{articles.model}}</td>
                </tbody>
            </table>
            <a  class="button large success" href="/api/purchase/{{articles.id}}">Buy</a>
        {{/equal}}
    </div>

</section>
