
<div class="container-fluid">
    <h1>Article {{articles.id}}</h1>
    <div class="row" >
        <figure>
            <img src="{{articles.image}}" alt="{{title}}">
        </figure>
        <table class="table-bordered table-striped">
            <tbody>
            <tr>
                <th>Category</th>
                <td>{{articles.type}}</td>
            </tr>
            <tr>
                <th>Final price</th>
                <td>{{articles.price}}</td>
            </tr>
            <tr>
                <th>Module</th>
                <td>{{articles.name}}</td>
            </tr>
            <tr>
                <th>Condition</th>
                <td>{{conditionMaker articles.condition}}</td>
            </tr>
            </tbody>
        </table>
        <h5>Description</h5>
        <p>{{articles.description}}</p>
    </div>
</div>

<section class="row">
    <div>
        {{#equal articles.type "book"}}
            <h2>Book Specifications</h2>
            <table class="table-bordered table-striped">
                <tbody>
                <tr>
                    <th>ISBN</th>
                    <td>{{articles.isbn}}</td>
                    <th>publisher</th>
                    <td>{{articles.plus}}</td>
                    <th>Author</th>
                    <td>{{articles.author}}</td>
                </tbody>
            </table>
            <a  type="button" class="btn btn-success" href="/api/purchase/{{articles.id}}">Buy</a>
        {{/equal}}
        {{#equal articles.type "electronic"}}
            <h2>Electronic Specifications</h2>
            <table class="table-bordered table-striped">
                <tbody>
                <tr>
                    <th>Producer</th>
                    <td>{{articles.producer}}</td>
                    <th>Model</th>
                    <td>{{articles.model}}</td>
                </tbody>
            </table>
            <a  type="button" class="btn btn-success" href="/api/purchase/{{articles.id}}">Buy</a>
        {{/equal}}
    </div>

</section>
