<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid nav-cont">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/api/articles/index"><b>HSR</b><i>market</i></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/api/articles/index">Start</a></li>
                <li><a href="/api/articles/books">Books</a></li>
                <li><a href="/api/articles/electronics">Electronics</a></li>
                <li><a href="/api/articles/officesupplies">Office supplies</a></li>
                <li><a href="/api/articles/other">Other</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{username}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/api/user/{{userid}}/articles">My Articles</a></li>
                        <li><a href="/api/user/{{userid}}/sales">My Sales</a></li>
                        <li><a href="/api/user/{{userid}}/purchases">My Purchases</a></li>
                        <li><a href="/api/accounts/{{userid}}">My Account</a></li>
                        <li><a href='/api/articles/addArticle'>Add article</a></li>
                        <li><a href='/api/user/logout'>Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="col-lg-11 row-l fixed-header fixed-footer">
    <div class="container-fluid">
        <h1 class="tbl-header">Article #{{articles.id}}</h1>
        <div class="row pad-lft-15" >
            <!--
            <figure>
                <img src="{{articles.image}}" alt="{{title}}">
            </figure>
            -->
           <div class="row width-eighty">
                <div class="col-xs-3">
                    <figure>
                        <img src="/images/icon_q_dooted.png" alt="HSRmarket" width="60rem" height="60rem" class="img-art-det">
                    </figure>
                </div>
               <div class="col-xs-4">
                    <p><h4 class="d-gray-fnt">Category</h4></p>
                    <div class="pd-left-10 fnt-sz-18">{{articles.type}}</div>
               </div>
               <div class="col-xs-4">
                    <p><h4 class="d-gray-fnt">Final price</h4></p>
                    <div class="pd-left-10">{{articles.price}}</div>
               </div>
               <div class="col-xs-4">
                   <p><h4 class="d-gray-fnt">Module</h4></p>
                   <div class="pd-left-10">{{articles.name}}</div>
               </div>
               <div class="col-xs-4">
                   <p><h4 class="d-gray-fnt">Condition</h4></p>
                   {{{conditionMaker articles.condition}}}
               </div>
           </div>
            <div class="width-eighty art-desc">
                <h4 class="d-gray-fnt">Description</h4>
                <div>
                    <div class="pd-left-10"><p>{{articles.description}}</p></div>
                </div>

            </div>
        </div>
    </div>

    <section class="row spec-rw width-eighty">
        <div>
            {{#equal articles.type "book"}}
                <h2 class="tbl-header">Book Specifications</h2>
            <div class="col-xs-4">
                <h4 class="d-gray-fnt">ISBN</h4>
                    {{articles.isbn}}
            </div>
            <div class="col-xs-4">
                    <h4 class="d-gray-fnt">publisher</h4>
                    {{articles.plus}}
            </div>
            <div class="col-xs-4">
                    <h4 class="d-gray-fnt">Author</h4>
                    {{articles.author}}
            </div>
            <div class="col-xs-4 mrg-btm pd-tp">
                <a type="button" class="btn tbl-btn" href="/api/purchase/{{articles.id}}">Buy</a>
            </div>
            {{/equal}}
            {{#equal articles.type "electronic"}}
                <h2 class="tbl-header">Electronic Specifications</h2>
            <div class="col-xs-4">
                    <h4 class="d-gray-fnt">Producer</h4>
                    {{articles.producer}}
            </div>
            <div class="col-xs-4">
                    <h4 class="d-gray-fnt">Model</h4>
                    {{articles.model}}
            </div>
            <div class="col-xs-12 mrg-btm">
                <a type="button" class="btn tbl-btn" href="/api/purchase/{{articles.id}}">Buy</a>
            </div>
            {{/equal}}
        </div>

    </section>
</div>