<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/api/articles/index">HSRmarket</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/api/articles/index">Start</a></li>
                <li><a href="/api/articles/books">Books</a></li>
                <li><a href="/api/articles/electronics">Electronics</a></li>
                <li><a href="/api/articles/officesupplies">Office supplies</a></li>
                <li><a href="/api/articles/other">Other</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{username}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/api/user/{{userid}}/articles">My Articles</a></li>
                        <li><a href="/api/user/{{userid}}/sales">My Sales</a></li>
                        <li><a href="/api/user/{{userid}}/purchases">My Purchases</a></li>
                        <li><a href="/api/accounts/{{userid}}">My Account</a></li>
                        <li><a href='/api/articles/addArticle'>Add article</a></li>
                        <li><a href='/api/user/logout'>Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="col-lg-11 row-l">
    <section class="row align-bottom">
        <div class="column align-self-middle">
            <form method="get" action="/fetch">
                <figure>
                    <img src="/images/ICON_HSRMARKET_MIT_TEXT_TRANSPARENT.png" class="img-responsive" alt="HSRmarket">
                </figure>

                <div class="input-group">
                    <input type="text" class="form-control" name="q" placeholder="Search.." id="search_key" value="" disabled>
                    <span class="input-group-btn">
                        <a class="btn btn-default text-muted" href="#" title="Clear" disabled="true"><i class="glyphicon glyphicon-remove"></i> </a>
                        <button class="btn btn-info" type="submit" disabled>  Search  </button>
                    </span>
                </div>
            </form>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a class="btn btn-success" href="/api/articles/books"><span class="glyphicon glyphicon-book"></span>  Books</a>
                        <a class="btn btn-success" href="/api/articles/electronics"><span class="glyphicon glyphicon-phone"></span>  Electronics</a>
                        <a class="btn btn-success" href="/api/articles/officesupplies"><span class="glyphicon glyphicon-pencil"></span> Office supplies</a>
                        <a  class="btn btn-success" href="/api/articles/other"><span class="glyphicon glyphicon-asterisk"></span>  Other</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="row align-bottom">
        <div class="column align-self-middle">
            <header>
                <h1>Recent articles in the market</h1>
            </header>
            {{#if articles.length}}
                <table  class="table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Article</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each articles}}
                            <tr>
                                <td>{{id}}</td>
                                <td>{{name}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            {{else}}
                <div> current collection is empty. </div>
            {{/if}}
        </div>
    </section>
</div>

<footer class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid navbar-left">
        <figure>
            <img src="/images/ICON_HSRMARKET_OHNE_TEXT_TRANSPARENT.png" alt="HSRmarket" width="60rem" height="60rem">
        </figure>
    </div>
    <div class="container-fluid navbar-right navbar-text pull-right">
        <p>(c) 2017 by HSRmarket. All rights reserved</p>
    </div>
</footer>
