<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid nav-cont">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><b>HSR</b><i>market</i></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/api/articles/index">Start</a></li>
                <li><a href="/api/articles/books">Books</a></li>
                <li><a href="/api/articles/electronics">Electronics</a></li>
                <li><a href="/api/articles/officesupplies">Office supplies</a></li>
                <li><a href="/api/articles/other">Other</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{username}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/api/user/{{userid}}/articles">My Articles</a></li>
                        <li><a href="/api/user/{{userid}}/sales">My Sales</a></li>
                        <li><a href="/api/user/{{userid}}/purchases">My Purchases</a></li>
                        <li><a href="/api/accounts/{{userid}}">My Account</a></li>
                        <li><a href='/api/articles/addArticle'>Add article</a></li>
                        <li><a href='/api/user/logout'>Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="col-lg-11 row-l fixed-header">
    <section class="row align-bottom">
        <div class="column align-self-middle">
            <form method="get" action="/fetch">
                <figure>
                    <img src="/images/ICON_HSRMARKET_MIT_TEXT_TRANSPARENT.png" class="img-responsive" alt="HSRmarket">
                </figure>
                <div class="form-group row srch-bar">
                    <div class="col-xs-10 srch-field">
                        <input type="text" class="form-control srch-input hard-crnr" name="q" placeholder="Search.." id="search_key" value="">
                    </div>
                    <button class="btn btn-sm col-xs-2 hard-crnr" type="submit">Go!</button>
                 </div>
            </form>
        </div>
        <div class="container btn-cont">
            <div class="row">
                <div class="col-xs-3 index-green">
                    <a class="btn btn-lg btn-block btn-huge index-btn" href="/api/articles/books">
                        <span class="glyphicon glyphicon-book"></span></br>Books</a>
                </div>
                <div class="col-xs-3">
                    <a class="btn btn-lg btn-block btn-huge index-btn" href="/api/articles/electronics">
                        <span class="glyphicon glyphicon-phone"></span></br>Electronics</a>
                </div>
                <div class="col-xs-3">
                    <a class="btn btn-lg btn-block btn-huge index-btn" href="/api/articles/officesupplies">
                        <span class="glyphicon glyphicon-pencil"></span></br>Office supplies</a>
                </div>
                <div class="col-xs-3">
                    <a  class="btn btn-lg btn-block btn-huge index-btn" href="/api/articles/other">
                        <span class="glyphicon glyphicon-asterisk"></span></br>Other</a>
                </div>
            </div>
        </div>
    </section>
    <section class="row align-bottom fixed-footer">
        <div class="column align-self-middle tbl">
            <header class="tbl-header">
                <h1>Recent articles in the market</h1>
            </header>
            {{#if articles.length}}
                <table >
                    <thead>
                    <tr class="hidden">
                        <th>ID</th>
                        <th>Article</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each articles}}
                        <tr>
                            <td>{{id}}</td>
                            <td>{{name}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            {{else}}
                <div> current collection is empty. </div>
            {{/if}}
        </div>
    </section>
</div>

<footer >
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid nav-cont l-gray">
            <div class="navbar-left l-gray">
                <figure>
                    <img src="/images/icon_q_dotted_transparent.png" alt="HSRmarket" width="60rem" height="60rem">
                </figure>
            </div>
            <div class="navbar-right navbar-text pull-right">
                <p>(c) 2017 by HSRmarket. All rights reserved</p>
            </div>
        </div>
    </div>
</footer>

