<nav class="navbar navbar-default">
    <div class="container-fluid nav-cont">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/api/articles/index"><b>HSR</b><i>market</i></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/api/articles/index">Start</a></li>
                <li><a href="/api/articles/books">Books</a></li>
                <li><a href="/api/articles/electronics">Electronics</a></li>
                <li><a href="/api/articles/officesupplies">Office supplies</a></li>
                <li><a href="/api/articles/other">Other</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{username}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">My Articles</a></li>
                        <li><a href="#">My Sales</a></li>
                        <li><a href="#">My Account</a></li>
                        <li><a href="">Add article</a></li>
                        <li><a href='/api/user/logout'>Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="col-lg-11 row-l pd-left-100">
    <section class="row">
        <div class="column">
            <h1 class="tbl-header">My Account</h1>
        </div>
            <form>
                <div class="row">
                    <div class="col-lg-4">
                        <label for="lastname">lastname</label>
                        <input id="lastname" name="lastname" type="text" required value="{{data.lastname}}">
                    </div>
                    <div class="col-lg-4">
                        <label for="firstname">firstname</label>
                        <input id="firstname" name="firstname" type="text" required value="{{data.firstname}}">
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <label for="street">street</label>
                        <input id="street" name="street" type="text" required value="{{data.address.street}}">
                    </div>
                    <div class="col-lg-4">
                        <label for="nr">nr</label>
                        <input id="nr" name="nr" type="text" required value="{{data.address.streetNr}}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <label for="zip">zip</label>
                        <input id="zip" name="zip" type="text" required value="{{data.address.zip}}">
                    </div>
                    <div class="col-lg-4">
                        <label for="city">city</label>
                        <input id="city" name="city" type="text" required value="{{data.address.city}}">
                    </div>
                </div>

                <div class="row">
                    <div class="small-9 columns">
                        <label for="studentID" class="prefix">studentId</label>
                        <input id="username" name="username" type="text" required value="{{data.studentId}}">
                    </div>
                    <div class="large-6 columns">
                        <label for="email" class="prefix">email</label>
                        <input id="email" name="email" type="text" required value="{{data.email}}">
                    </div>
                </div>
                <div class="row">
                    <div class="small-3 columns">
                        <label for="password" class="prefix">password</label>
                        <input id="password" name="password" type="text" required value="{{data.password}}">
                    </div>
                </div>
                <a class="btn tbl-btn" href="/api/user/{{userid}}">Save</a>
                <a class="btn tbl-btn" href="/">Cancel</a>
            </form>
    </section>
</div>
<footer class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid navbar-left">
        <figure>
            <img src="/images/icon_q_dooted.png" alt="HSRmarket" width="60rem" height="60rem">
        </figure>
    </div>
    <div class="container-fluid navbar-right navbar-text pull-right">
        <p>(c) 2017 by HSRmarket. All rights reserved</p>
    </div>
</footer>