<div class="col-lg-11 row-l fixed-header fixed-footer">
    <section class="container-fluid">
        <h1 class="tbl-header">My purchases</h1>
        <div class="row marg-left-0">
            <div>
                <table class="table width-eighty">
                    <thead>
                    <tr>
                        <th class="art-tbl-left">Title</th>
                        <th class="width-fifty">Description</th>
                        <th class="art-tbl-right">Category</th>
                        <th class="art-tbl-right">Price</th>
                        <th class="art-tbl-right"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each articles}}
                        <tr>
                            <td class="art-tbl-left">{{name}}</td>
                            <td class="width-fifty">{{description}}</td>
                            <td class="art-tbl-right">{{type}}</td>
                            <td class="art-tbl-right">{{price}}</td>
                            <td class="art-tbl-right">
                                <a type="button" class="btn tbl-btn" href="/purchase/{{id}}">Change status</a>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>