<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">HSRmarket</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/api/articles/index">Start</a></li>
                <li><a href="/api/articles/books">Books</a></li>
                <li><a href="/api/articles/electronics">Electronics</a></li>
                <li><a href="/api/articles/officesupplies">Office supplies</a></li>
                <li><a href="/api/articles/other">Other</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{username}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">My Articles</a></li>
                        <li><a href="#">My Sales</a></li>
                        <li><a href="#">My Account</a></li>
                        <li><a href="">Add article</a></li>
                        <li><a href='/api/user/logout'>Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="col-lg-11 row-l">
    <section class="row">
        <div class="column">
            <h1>My Purchases</h1>
        </div>
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Discription</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each articles}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{description}}</td>
                        <td>{{type}}</td>
                        <td>{{price}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
    </section>
</div>
<footer class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid navbar-left">
        <figure>
            <img src="/images/ICON_HSRMARKET_OHNE_TEXT_TRANSPARENT.png" alt="HSRmarket" width="60rem" height="60rem">
        </figure>
    </div>
    <div class="container-fluid navbar-right navbar-text pull-right">
        <p>(c) 2017 by HSRmarket. All rights reserved</p>
    </div>
</footer>