<div class="col-lg-11 row-l fixed-header fixed-footer">
    <section class="container-fluid">
        {{#if search}}
            <h1 class="tbl-header">Search Result</h1>
        {{else}}
            <h1 class="tbl-header">All {{title}}</h1>
        {{/if}}
        <div class="row marg-left-0">
            <div>
                {{#if articles.length}}
                    <table class="table width-eighty">
                        <thead>
                        <tr>
                            <th class="art-tbl-left">Title</th>
                            <th class="art-tbl-mid">Description</th>
                            <th class="art-tbl-right"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each articles}}
                            <tr>
                                <td class="art-tbl-left">{{name}}</td>
                                <td class="art-tbl-mid">{{description}}</td>
                                <td class="art-tbl-right"><a type="button" class="btn tbl-btn" href="/articles/{{id}}">Show</a></td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                {{else}}
                    <div> Currently the list is empty. Please try again later. </div>
                {{/if}}
            </div>
        </div>
    </section>
</div>
